.signupContainer {
  background-image: url('@assets/Images/A-nice-background-image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  filter: contrast(1.05) brightness(1.05);
  backdrop-filter: blur(0.5px);
}