.oauthContainer {
  display: grid;
  gap: 0.5rem;
}

.oauthContainer .oauthButton {
  background-color: var(--bg);
  border: 1px solid var(--text-secondary);
  color: var(--text);
  font-size: 0.9rem;
  padding: 8px;
  border-radius: 8px;
}

.oauthContainer .oauthButton:hover {
  background-color: var(--bg);
  border: 2px solid var(--text-secondary);
}
